{:app-shortname     "exercise3"
 :wait-ms-on-stop   "6000"
 :server-port       #ts/env [:port "8080"]
 :status-url        "/status"
 :metering-reporter ""
 :slots-count       25
 :frame-size        1000
 :datagram-bytes    34
 :output-file       "./output.log"}
